@page
@model CS5019_A1_Codeworks.Pages.Customer.OrderConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<h2>Order Confirmation</h2>
<p>Thank you! Your order has been placed successfully.</p>
<p></p>
